<div class="eqLogic eqLogic-widget noResize musiccast_widget musiccast" data-version="#version#" category="Multimédia" data-category="multimedia"
     style="text-align:center; width: 250px;border:#border#;border-radius:#border-radius#;background-color: #background-color#;color: #color#;#style#;height:320px;"
     data-eqLogic_id="#id#" data-eqLogic_uid="#uid#">
    <link rel="stylesheet" href="plugins/musiccast/core/template/dashboard/css/style.css"/>
    <center class="widget-name">
        <a class="cmd power pull-left" data-cmd_id="#power_on_id#" onclick="jeedom.cmd.execute({id: #power_on_id#});">
            <i class="fa fa-power-off power"></i>
        </a>
        <span class="cmd pull-left statusCmd" style="width : 30px;z-index: 1030;"></span>
        <a href="#eqLink#" style="#hideEqLogicName#">#name_display#<a>
    </center>
    <a class="group" style="text-decoration: none; cursor:default;">#group#</a>
    <div class="uppart">
        <div class="leftpanel" style="overflow: auto;background-color: #sub-background-color# !important; color: #sub-icon-color# !important;">
            <a class="leftRafter" onClick="panelLeftClose#uid#()" style="display:none;top: 90px;color: #sub-icon-color# !important;"><i class="fas fa-chevron-left"></i></a>
            <div style="margin-left : 24px;">
                <legend style="color : white;margin-bottom:2px;">Playlist</legend>
                <div class="playlistList" style="text-align:left;"></div>

                <legend style="color : white;margin-bottom:2px;">Favoris</legend>
                <div class="favoriteList" style="text-align:left;"></div>

            </div>
        </div>
        <div class="rightpanel" style="overflow: auto;background-color: #sub-background-color# !important;color: #sub-icon-color# !important;">
            <a class="rightRafter" onClick="panelRightClose#uid#()" style="display:none;top: 90px;color: #sub-icon-color# !important;"><i class="fas fa-chevron-right"></i></a>
            <div style="margin-right : 24px;">
                <legend style="color : white;margin-bottom:2px;">Enceintes</legend>
                <div class="speakersList" style="text-align:left;"></div>
            </div>
        </div>
        <a class="rightRafter" onClick="panelRight#uid#()"><i class="fas fa-chevron-left"></i></a>
        <a class="leftRafter" onClick="panelLeft#uid#()"><i class="fas fa-chevron-right"></i></a>
        <div class="jaquette_musiccast"></div>
        <div class="track">
            <div class="title">#title#</div>
            <div class="subtitle">#subtitle#</div>
        </div>
        <!--div class="title">#input##state#</div-->
    </div>
    <div class="downpart" style="background-color: #sub-background-color# !important;#background-color#;color: #color#;">
        <div style="height: 19px;">
        <nav class="nav">
            <a class="cmd action_playlist" data-cmd_id="#shuffle_id#" onclick="jeedom.cmd.execute({id: #shuffle_id#});" title="Aléatoire"
                style="color: #sub-icon-color# !important;">
                <i class="fa fa-random shuffle"></i>
            </a>
            <a class="cmd action_playlist" data-cmd_id="#repeat_id#" onclick="jeedom.cmd.execute({id: #repeat_id#});" title="Répéter"
                style="color: #sub-icon-color# !important;">
                <i class="fa fa-sync repeat"></i>
            </a>
            <a class="cmd action_list" data-cmd_id="#previous_id#" onClick="jeedom.cmd.execute({id: #previous_id#});" title="Précédent"
                style="color: #sub-icon-color# !important;">
                <i class="fas fa-step-backward"></i>
            </a>
            <a class="cmd play" data-cmd_id="#play_id#" onclick="jeedom.cmd.execute({id: #play_id#});" title="Lecture"
                style="color: #sub-icon-color# !important;">
                <i class="fas fa-play"></i>
            </a>
            <a class="cmd pause" data-cmd_id="#pause_id#" onclick="jeedom.cmd.execute({id: #pause_id#});" title="Pause"
                style="color: #sub-icon-color# !important;">
                <i class="fas fa-pause"></i>
            </a>
            <a class="cmd stop" data-cmd_id="#stop_id#" onclick="jeedom.cmd.execute({id: #stop_id#});" title="Stop"
                style="color: #sub-icon-color# !important;">
                <i class="fas fa-stop"></i>
            </a>
            <a class="cmd action_list" data-cmd_id="#next_id#" onClick="jeedom.cmd.execute({id: #next_id#});" title="Suivant"
                style="color: #sub-icon-color# !important;">
                <i class="fas fa-step-forward"></i>
            </a>
            <a class="cmd" data-cmd_id="#mute_id#" onclick="jeedom.cmd.execute({id: #mute_id#});" title="Mute"
                style="color: #sub-icon-color# !important;">
                <i class="icon jeedomapp-audiomute"></i>
            </a>
        </nav>
        </div>
        <div class="cmd volume" data-cmd_id="#setVolume_id#" style="width: 100%;margin:10px;" value="#volume#"></div>
    </div>

    <script>
        function panelRight#uid#()
        {
            $(".musiccast[data-eqLogic_uid=#uid#] .rightpanel").animate({right: "0px"});
            $(".musiccast[data-eqLogic_uid=#uid#] .rightpanel .rightRafter").show();
            panelLeftClose#uid#();
        }

        function panelRightClose#uid#()
        {
            $(".musiccast[data-eqLogic_uid=#uid#] .rightpanel").animate({right: "-200px"});
            $(".musiccast[data-eqLogic_uid=#uid#] .rightpanel .rightRafter").hide();
        }

        function panelLeft#uid#()
        {
            $(".musiccast[data-eqLogic_uid=#uid#] .leftpanel").animate({left: "0px"});
            $(".musiccast[data-eqLogic_uid=#uid#] .leftpanel .leftRafter").show();
            panelRightClose#uid#();
        }

        function panelLeftClose#uid#()
        {
            $(".musiccast[data-eqLogic_uid=#uid#] .leftpanel").animate({left: "-200px"});
            $(".musiccast[data-eqLogic_uid=#uid#] .leftpanel .leftRafter").hide();
        }

        function volume_musiccast#id#(bouton)
        {
            if (bouton == 'bouton') {
                $('.musiccast[data-eqLogic_uid=#uid#] .volumeDownpart').css('display', 'block');
                $('.musiccast[data-eqLogic_uid=#uid#] .nav').css('display', 'none');
            } else if (bouton == 'volume') {
                $('.musiccast[data-eqLogic_uid=#uid#] .volumeDownpart').css('display', 'none');
                if ('#coordinator_state#' != 0 || '#state#' != '') {
                    $('.musiccast[data-eqLogic_uid=#uid#] .nav').css('display', 'block');
                }
            }
        }

        $(".musiccast[data-eqLogic_uid=#uid#] .volume").slider({
            min: 0,
            max: 100,
            range: "min",
            value: ('#volume#' == '') ? 0 : parseInt('#volume#')
        });
        $(".musiccast[data-eqLogic_uid=#uid#] .slider.slider-horizontal").css('z-index', 1);
        $(".musiccast[data-eqLogic_uid=#uid#] .volume").on('slidestop', function (event, ui) {
            jeedom.cmd.execute({id: '#setVolume_id#', value: {slider: ui.value}});
        });
        $(".musiccast[data-eqLogic_uid=#uid#] .ui-slider-handle").addClass("importantTransparent");
        $(".musiccast[data-eqLogic_uid=#uid#] .ui-slider-handle").append('<i class="fa fa-volume-up" style="color:#253E5E;font-size:1.2em;margin-top:-5px;cursor:pointer" title="Volume"></i>');

        if ('#power_state#' == 1) {
            if ('#repeat_state#' == 1) {
                $(".musiccast[data-eqLogic_uid=#uid#] .repeat").css('color', 'green');
            } else {
                $(".musiccast[data-eqLogic_uid=#uid#] .repeat").css('color', 'red');
            }
            if ('#shuffle_state#' == 1) {
                $(".musiccast[data-eqLogic_uid=#uid#] .shuffle").css('color', 'green');
            } else {
                $(".musiccast[data-eqLogic_uid=#uid#] .shuffle").css('color', 'red');
            }
            if ('#mute_state#' == 1) {
                $(".musiccast[data-eqLogic_uid=#uid#] .mute").css('color', 'green');
            } else {
                $(".musiccast[data-eqLogic_uid=#uid#] .mute").css('color', 'red');
            }

           if ('#input#' == 'tv' || '#input#' == 'hdmi') {
                $(".musiccast[data-eqLogic_uid=#uid#] .jaquette_musiccast").empty()
                .append('<i class="icon techno-tv fa-10x"></i>');
                $(".musiccast[data-eqLogic_uid=#uid#] .nav").hide();
            } else if ('#input#' == 'bluetooth') {
                $(".musiccast[data-eqLogic_uid=#uid#] .jaquette_musiccast").empty()
                .append('<i class="icon techno-bluetooth3 icon_blue fa-10x"></i>');
                $(".musiccast[data-eqLogic_uid=#uid#] .action_playlist").hide();
            } else if ('#input#' == 'net_radio') {
                $(".musiccast[data-eqLogic_uid=#uid#] .jaquette_musiccast").empty()
                .append('<img src="#thumbnail#" class="jaquette_picture jaquette_picture_front"/>')
                .append('<img src="#thumbnail#" class="jaquette_picture jaquette_picture_back affiche_left_musiccast"/>')
                .append('<img src="#thumbnail#" class="jaquette_picture jaquette_picture_back affiche_right_musiccast"/>');
                $(".musiccast[data-eqLogic_uid=#uid#] .action_playlist").hide();
                $(".musiccast[data-eqLogic_uid=#uid#] .action_list").hide();
            } else if ('#input#' == 'spotify') {
                $(".musiccast[data-eqLogic_uid=#uid#] .jaquette_musiccast").empty()
                .append('<img src="#thumbnail#" class="jaquette_picture jaquette_picture_front"/>')
                .append('<img src="#thumbnail#" class="jaquette_picture jaquette_picture_back affiche_left_musiccast"/>')
                .append('<img src="#thumbnail#" class="jaquette_picture jaquette_picture_back affiche_right_musiccast"/>');
            } else {
                $(".musiccast[data-eqLogic_uid=#uid#] .jaquette_musiccast").empty()
                .append('<img src="#thumbnail#" class="jaquette_picture jaquette_picture_front"/>');
            }
        } else {
            $(".musiccast[data-eqLogic_uid=#uid#] .nav").hide();
            $(".musiccast[data-eqLogic_uid=#uid#] .track").hide();
            $(".musiccast[data-eqLogic_uid=#uid#] .volume").hide();
            $(".musiccast[data-eqLogic_uid=#uid#] .jaquette_musiccast").empty()
            .append('<i class="fa fa-power-off icon_red fa-10x"></i>');
        }

        if ('#state_nb#' == 1) {
            $(".musiccast[data-eqLogic_uid=#uid#] .play").hide();
        } else if ('#state_nb#' == 0) {
            $(".musiccast[data-eqLogic_uid=#uid#] .stop").hide();
            $(".musiccast[data-eqLogic_uid=#uid#] .pause").hide();
        }

        if ('#state#' == '') {
            $(".musiccast[data-eqLogic_uid=#uid#] .nav").hide();
        }

        if ('#coordinator_state#' == 0) {
            $(".musiccast[data-eqLogic_uid=#uid#] .rightpanel").hide();
            $(".musiccast[data-eqLogic_uid=#uid#] .leftpanel").hide();
            $(".musiccast[data-eqLogic_uid=#uid#] .rightRafter").hide();
            $(".musiccast[data-eqLogic_uid=#uid#] .leftRafter").hide();
            $(".musiccast[data-eqLogic_uid=#uid#] .nav").hide();
        }


        if ('#playlist#' != '') {
            playlist#id# = json_decode('#playlist#');
            playlistList#id# = '';
            for (var i in playlist#id#)
            {
                playlistList#id# += '<span class="cursor playPlaylist" style="white-space: nowrap;margin-left:5px;text-align:left;" title="' + playlist#id#[i] + '"  data-name="' + playlist#id#[i] + '"><i class="fa fa-play" style="color: #sub-icon-color# !important;"></i> ' + playlist#id#[i] + '</span><br/>';
            }
            $(".musiccast[data-eqLogic_uid=#uid#] .playlistList").append(playlistList#id#)
            ;
        }
         $('.musiccast[data-eqLogic_uid=#uid#]  .playPlaylist').on('click', function () {
            $(".musiccast[data-eqLogic_uid=#uid#] .statusCmd").empty().append('<i class="fa fa-spinner fa-spin"></i>');
            var name = $(this).attr('data-name');
            $.ajax({
                type: "POST",
                url: "plugins/musiccast/core/ajax/musiccast.ajax.php",
                data: {
                    action: "playPlaylist",
                    id: '#id#',
                    playlist: name
                },
                dataType: 'json',
                global: false,
                error: function (request, status, error) {
                    handleAjaxError(request, status, error);
                },
                success: function (data) {
                    if (data.state != 'ok') {
                        $('#div_alert').showAlert({message: data.result, level: 'danger'});
                        $(".musiccast[data-eqLogic_uid=#uid#] .statusCmd").empty().append('<i class="fa fa-times"></i>');
                        setTimeout(function () {
                            $(".musiccast[data-eqLogic_uid=#uid#] .statusCmd").empty();
                        }, 3000);
                        return;
                    }
                    $(".musiccast[data-eqLogic_uid=#uid#] .statusCmd").empty().append('<i class="fa fa-rss"></i>');
                    setTimeout(function () {
                        $(".musiccast[data-eqLogic_uid=#uid#] .statusCmd").empty();
                    }, 3000);
                }
            });
        });

        if ('#favorite#' != '') {
            favorite#id# = json_decode('#favorite#');
            favoriteList#id# = '';
            for (var i in favorite#id#)
            {
                favoriteList#id# += '<span class="cursor playFavorite" style="white-space: nowrap;margin-left:5px;text-align:left;" data-name="' + favorite#id#[i] + '" title="' + favorite#id#[i] + '"><i class="fa fa-play" style="color: #sub-icon-color# !important;"></i> ' + favorite#id#[i] + '</span><br/>';
            }
            $(".musiccast[data-eqLogic_uid=#uid#] .favoriteList").append(favoriteList#id#)
            ;
        }

        $('.musiccast[data-eqLogic_uid=#uid#] .playFavorite').on('click', function () {
            $(".musiccast[data-eqLogic_uid=#uid#] .statusCmd").empty().append('<i class="fa fa-spinner fa-spin"></i>');
            var name = $(this).attr('data-name');
            $.ajax({
                type: "POST",
                url: "plugins/musiccast/core/ajax/musiccast.ajax.php",
                data: {
                    action: "playFavorite",
                    id: '#id#',
                    favorite: name
                },
                global: false,
                dataType: 'json',
                error: function (request, status, error) {
                    handleAjaxError(request, status, error);
                },
                success: function (data) {
                    if (data.state != 'ok') {
                        $('#div_alert').showAlert({message: data.result, level: 'danger'});
                        $(".musiccast[data-eqLogic_uid=#uid#] .statusCmd").empty().append('<i class="fa fa-times"></i>');
                        setTimeout(function () {
                            $(".musiccast[data-eqLogic_uid=#uid#] .statusCmd").empty();
                        }, 3000);
                        return;
                    }
                    $(".musiccast[data-eqLogic_uid=#uid#] .statusCmd").empty().append('<i class="fa fa-rss"></i>');
                    setTimeout(function () {
                        $(".musiccast[data-eqLogic_uid=#uid#] .statusCmd").empty();
                    }, 3000);
                }
            });
        });
        $('.musiccast[data-eqLogic_uid=#uid#] .playTrack').on('click', function () {
            $(".musiccast[data-eqLogic_uid=#uid#] .statusCmd").empty().append('<i class="fa fa-spinner fa-spin"></i>');
            var position = $(this).attr('data-position');
            $.ajax({
                type: "POST",
                url: "plugins/musiccast/core/ajax/musiccast.ajax.php",
                data: {
                    action: "playTrack",
                    id: '#id#',
                    position: position
                },
                global: false,
                dataType: 'json',
                error: function (request, status, error) {
                    handleAjaxError(request, status, error);
                },
                success: function (data) {
                    if (data.state != 'ok') {
                        $('#div_alert').showAlert({message: data.result, level: 'danger'});
                        $(".musiccast[data-eqLogic_uid=#uid#] .statusCmd").empty().append('<i class="fa fa-times"></i>');
                        setTimeout(function () {
                            $(".musiccast[data-eqLogic_uid=#uid#] .statusCmd").empty();
                        }, 3000);
                        return;
                    }
                    $(".musiccast[data-eqLogic_uid=#uid#] .statusCmd").empty().append('<i class="fa fa-rss"></i>');
                    setTimeout(function () {
                        $(".musiccast[data-eqLogic_uid=#uid#] .statusCmd").empty();
                    }, 3000);
                }
            });
        });

        if ('#speakers#' != '') {
            speakers#id# = json_decode('#speakers#');
            speakersList#id# = '';
            for (var i in speakers#id#)
            {
                speakersList#id# += '<span class="cursor" style="white-space: nowrap;margin-left:5px;" title="' + speakers#id#[i] + '"><i class="addSpeaker fa fa-plus" style="color: #sub-icon-color# !important;" data-name="' + speakers#id#[i] + '"></i> <i class=" removeSpeaker fa fa-minus" style="color: #sub-icon-color# !important;" data-name="' + speakers#id#[i] + '"></i> ' + speakers#id#[i] + '</span><br/>';
            }
            $(".musiccast[data-eqLogic_uid=#uid#] .speakersList").append(speakersList#id#)
            ;
        }


        $('.musiccast[data-eqLogic_uid=#uid#] .addSpeaker').on('click', function () {
            $(".musiccast[data-eqLogic_uid=#uid#] .statusCmd").empty().append('<i class="fa fa-spinner fa-spin"></i>');
            var name = $(this).attr('data-name');
            $.ajax({
                type: "POST",
                url: "plugins/musiccast/core/ajax/musiccast.ajax.php",
                data: {
                    action: "addSpeaker",
                    id: '#id#',
                    speaker: name
                },
                global: false,
                dataType: 'json',
                error: function (request, status, error) {
                    handleAjaxError(request, status, error);
                },
                success: function (data) {
                    if (data.state != 'ok') {
                        $('#div_alert').showAlert({message: data.result, level: 'danger'});
                        $(".musiccast[data-eqLogic_uid=#uid#] .statusCmd").empty().append('<i class="fa fa-times"></i>');
                        setTimeout(function () {
                            $(".musiccast[data-eqLogic_uid=#uid#] .statusCmd").empty();
                        }, 3000);
                        return;
                    }
                    $(".musiccast[data-eqLogic_uid=#uid#] .statusCmd").empty().append('<i class="fa fa-rss"></i>');
                    setTimeout(function () {
                        $(".musiccast[data-eqLogic_uid=#uid#] .statusCmd").empty();
                    }, 3000);
                }
            });
        });

        $('.musiccast[data-eqLogic_uid=#uid#] .removeSpeaker').on('click', function () {
            $(".musiccast[data-eqLogic_uid=#uid#] .statusCmd").empty().append('<i class="fa fa-spinner fa-spin"></i>');
            var name = $(this).attr('data-name');
            $.ajax({
                type: "POST",
                url: "plugins/musiccast/core/ajax/musiccast.ajax.php",
                data: {
                    action: "removeSpeaker",
                    id: '#id#',
                    speaker: name
                },
                global: false,
                dataType: 'json',
                error: function (request, status, error) {
                    handleAjaxError(request, status, error);
                },
                success: function (data) {
                    if (data.state != 'ok') {
                        $('#div_alert').showAlert({message: data.result, level: 'danger'});
                        return;
                    }
                    $(".musiccast[data-eqLogic_uid=#uid#] .statusCmd").empty().append('<i class="fa fa-rss"></i>');
                    setTimeout(function () {
                        $(".musiccast[data-eqLogic_uid=#uid#] .statusCmd").empty();
                    }, 3000);
                }
            });
        });
    </script>
</div>
